@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,body{
	display: table;
	width: 100%;
	height: 100%;
	color: #292526;
	margin:0;
}
body[data=draw]{background: #4c63bd;}
body[data=win]{background: #4cbd75;}
body[data=lose]{background: #bd4c4c;}
body>section{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
button{
	outline:none;
	appearance:none;
	background:transparent;
	border:none;
	cursor:pointer;
	color: inherit;
	font-family: 'Alfa Slab One';
}

i:before,
#context:before{
	font-family: 'FontAwesome';
	font-style: normal;
}
body[playing=true] #computer[data=""] i:before {content:"\f255";}

i[data=twitter]:before		{content:"\f099";}
i[data=insta]:before		{content:"\f16d";}
[data=rock] i:before 		{content:"\f255";}
[data=paper] i:before 		{content:"\f256";}
[data=scissors] i:before 	{content:"\f25b";}
[data=lizard] i:before 		{content:"\f258";}
[data=spock] i:before 		{content:"\f259";}
section{
	text-align: center;
}
button>i{font-size: 50px;}
section>i{font-size: 180px;}
#context{
	font-size: 50px;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 100px;
	letter-spacing: .02em;
}

#computer{
	transform:rotate(180deg);
}


@media (max-width: 640px){
	#context{
		font-size: 28px;
		height: 72px;
		margin-bottom: 50px;
	}
	button>i{font-size: 40px;}
	section>i{font-size: 150px;}
}

#player,#computer{
	transition: all 0s;
}
body[data=win] #player{
	transform:translateY(-50px);
	transition: all .5s;
	transition-delay:.2s;
}
body[data=win] #computer{
	opacity:.3;
	transition: all .5s;
	transition-delay:.4s;
}
body[data=lose] #player{
	opacity:.3;
	transition: all .5s;
	transition-delay:.4s;
}
body[data=lose] #computer{
	transform:translateY(50px)rotate(180deg);
	transition: all .5s;
	transition-delay:.3s;
}
body[data=draw] #player{
	transform:translateY(8px);
	transition: all .7s;
	transition-delay:.2s;
}
body[data=draw] #computer{
	transform:translateY(-8px)rotate(180deg);
	transition: all .7s;
	transition-delay:.3s;
}
body[playing=true] #computer i{
	visibility: hidden;
}
body[playing=true] #computer{
	transform:translateY(0)rotate(180deg)!important;
	opacity:1!important;
	transition: all 0s!important;
	transition-delay:0s!important;
}
body[playing=true] #player{
	transform:translateY(0)!important;
	opacity:1!important;
	transition: all 0s!important;
	transition-delay:0s!important;
}
body[playing=true] #select{
	visibility: hidden;
}

footer{
	position: absolute;
	bottom:0;
	left: 0;
	font-family: monospace;
	color:rgba(255,255,255,.7);
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;	
}
footer a{
	color:#FFF!important;
	text-decoration: none;
}
